* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;

  border: 1px solid black;
  width: 650px;
  height: 400px;
}

.main-title {
  he;
  color: brown;
}

.ratings {
  display: flex;
  gap: 25px;
}
