* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: aquamarine;
  box-shadow: 9px 10px 0px 1px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 9px 10px 0px 1px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 9px 10px 0px 1px rgba(0, 0, 0, 0.29);
  border-radius: 20px;
  width: 650px;
  height: 400px;
  padding: 40px 30px;
  text-align: center;
}

.main-title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: green;
  margin-bottom: 30px;
}

img {
  width: 100px;
  height: 100px;
}

.ratings {
  display: flex;

  justify-content: space-between;
}
